# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store
nbproject/
nb-configuration.xml
nbactions.xml

# Logs
*.log

# Sensitive folders
pictures/
